
    <div style="text-align: center;background-color: #fff;height: 500px;padding-top: 200px;">
        <p style="margin-bottom: 50px">您还没有发表过一篇博客哦！快去发表自己的第一篇文章吧！</p>
        <a href="http://10.1.32.20:18080/edit" style="background-color: #4a9bef;padding: 10px 20px;color: #fff;">发表博客</a>
    </div>
