
<div class="header1 p_header" style="border-bottom: 2px inset #303030;">
    <img class="pic" src="images/top1.png">
    <span class="name">未来工作室</span>
    <div class="h_right">
        <ul class="h_ul">
            <li>
                <a href="/"><img class="icon" title="主页" src="images/home.png"/>博客首页</a>
            </li>
            <li>
                <a href="#"><img class="icon" title="写文章" src="images/pencil.png"/>编辑文章</a>
            </li>
            <li>
                <a href="#"><img class="icon" title="写文章" src="images/exit.png"/>退出</a>
            </li>
        </ul>
    </div>
</div>

