
<div id="mask">
    <div class="header p_header">
        <img class="pic" src="images/top1.png">
        <input class="c_search" type="text" id="m_search" />
        <a href="javascript:;" class="c_btn" onclick="OnChange()">搜索</a>
        <div class="pic-right">
            <ul class="ul1">
                <li><a href="/"><img class="icon" title="主页" src="images/home.png"/></a></li>
                <li><a href="http://10.1.32.20:18080/edit?userid=<%=ID%>"><img class="icon" title="写文章" src="images/pencil.png"/></a></li>
                <li><a href="#"><img class="icon" title="通知" src="images/page.png"/></a></li>
                <li><a href="/owner"><img class="icon" title="个人中心" src="images/person.png"/></a></li>
            </ul>
        </div>
    </div>
    <!--内容部分-->
    <div class="wrap" id="wrap"></div>
    <!-- 回到顶部 -->
    <div class="returntop" title="返回顶部">
        <i class="fa fa-chevron-up"></i>
    </div>
</div>
